<div class="container-fluid padre">
  <div class="jumbotron jumbotron-fluid">
      <h1 class="display-3">Weather app</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ciudad" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="ciudad">
      <div class="input-group-append">
        <button routerLink="/diario" class="btn btn-outline-secondary" type="button" (click)="cogerCiudad()">Buscar</button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h2>Tiempo en Granada ahora</h2>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          Temperatura
        </div>
        <div class="col-sm">
          Humedad
        </div>
        <div class="col-sm">
          Resumen
        </div>
        <div class="col-sm">
          Velocidad del viento
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          {{temperatura}}º
        </div>
        <div class="col-sm">
          {{humedad}}
        </div>
        <div class="col-sm">
          {{resumen}}
        </div>
        <div class="col-sm">
          {{velocidad}}km/h
        </div>
      </div>
    </div>
    <p>
      <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Mas información</a>
    </p>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  Nubes
                </div>
                <div class="col-sm">
                  Lluvia
                </div>
                <div class="col-sm">
                  Relente
                </div>
                <div class="col-sm">
                  Presion Atmosferica
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  {{nubes}}
                </div>
                <div class="col-sm">
                  {{lluvia}}%
                </div>
                <div class="col-sm">
                  {{relente}}
                </div>
                <div class="col-sm">
                  {{presion}}pa
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

